html, body, #map {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}

/* don't show the popups */
.cartodb-popup {
	display: none;
}

.cartodb-infowindow {
	display: none !important;
}

.cartodb-share {
	display: none !important;
}

#topBanner {
	height: 120px;
	background-color: #043361;
	margin: 0;
	padding: 0;
	text-align: center;
}
#mapContainer {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	margin-left: 0;
	margin-right: 0;
	width: 100%;
	height: 550px;
	padding: 0;
}

/* policy info panel */
#policy-info {
	position: absolute;
	z-index: 1000000;
	top: 130px;
	left: 20px;
	width: 360px;
	background-color: white;
	box-shadow: rgba(0,0,0,.1) 0 0 4px 2px;
	font-size: 12px;
}
#policy-info a.external {
    background: url(external_link.png) center right no-repeat;
    padding-right: 13px;
}
#policy-info a.info {
    background: url(info.gif) center right no-repeat;
    padding-right: 16px;
}
#policy-info .panel-heading {
	padding-right: 20px;
	font-size: 16px;
	font-weight: bold;
}
#policy-info .panel-heading:hover {
	cursor: pointer;
}
#policy-info .list-group-item {
	padding-top: 4px;
	padding-bottom: 4px;
}

/* close button */
.close {
  font-size: 20px;
  font-weight: bold;
  line-height: 18px;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
  text-decoration: none;
  padding-right: 5px;
}
.close:hover {
  color: #000000;
  text-decoration: none;
  opacity: 0.4;
}

/* overrides default style for legends 
#map .cartodb-legend-stack {
	right: 30px;
	width: 280px;
}
#map .cartodb-legend-stack .cartodb-legend .legend-title {
	font-family: 'Open Sans', sans-serif;
	color: black;
	font-size: 12px;
	font-weight: bold;
	text-transform: none;
}
#map .cartodb-legend-stack .cartodb-legend li {
	font-family: 'Open Sans', sans-serif;
	color: black;
	font-size: 12px;
	font-weight: normal;
	text-transform: none;
}
#map .cartodb-legend-stack .cartodb-legend li .bullet {
	height: 10px;
	width: 10px;
}
#map div.cartodb-legend-stack div.cartodb-legend li.min {
	float: left;
	width: 20%;
	text-align: center;
}
#map div.cartodb-legend-stack div.cartodb-legend li.median {
	float: left;
	width: 60%;
	text-align: center;
}
#map div.cartodb-legend-stack div.cartodb-legend li.max {
	float: right;
	width: 20%;
	text-align: center;
}

*/

/* overrides default style for tooltips */
#map .cartodb-tooltip-content {
	padding: 6px;
}
#map .cartodb-tooltip-content p {
	font-family: 'Open Sans', sans-serif;
	font-size: 11px;
}
#map .cartodb-searchbox .text {
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
}

/* overrides default style for zoom icons */
#map .cartodb-zoom {
	position: absolute;
	right: 35px;
}

/* add scrolling to bootstrap menus */
.scrollable-menu {
    height: auto;
    max-height: 450px;
    overflow-x: hidden;
}

#layerSelectionContainer {
	position: absolute;
	top: 140px;
	right: 100px;
	padding: 0px;
}
#geoSelectionContainer {
	position: absolute;
	top: 180px;
	right: 100px;
	padding: 0px;
}

@media only screen 
and (max-width: 380px) {
	
	.mobile-hide {
		display: none;
	}
	#topBanner {
		display: none;
	}
	#mapContainer {
		height: 400px;
	}
	#policy-info {
		width: 90%;
		top: 350px;
		margin: 0 auto;
	}
	div .cartodb-legend-stack {
		visibility: hidden;
	}
	#layerSelectionContainer {
		display: none;
	}
	#geoSelectionContainer {
		display: none;
	}
	div.expand-map {
		display: none;
	}
}